:root {
  /* Main color accents */
  --Blue-1: #00c4f8;
  --Blue-2: #008ad3;
  /* Card backgrounds */
  --Card-Basic: #1b1b1b;
  /* Common gradient */
  --Gradient1: #000e29;
  --Gradient2: #005ee7;
  --Gradient3: #00d4ff;
  /* Common text */
  --Text-White: #ffffff;
  --Text-Blue: #00d4ff;
  /* Basic background 'filler' space */
  --Background: #0a0a0a;
}

.CreatorContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Background);
}

/* The box that containers the container related elements */
.Creator {
  width: 80vw;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 10px;
  background-color: var(--Card-Basic);
  color: #ffffff;
  padding: 10px;
}

.animate-border {
  animation: borderColorCycle 1.5s linear;
}

@keyframes borderColorCycle {
  0% {
    border-color: lightpink;
  }
  25% {
    border-color: lightblue;
  }
  50% {
    border-color: lightgreen;
  }
  75% {
    border-color: lightyellow;
  }
  100% {
    border-color: lightpink;
  }
}
/* The add button in the bottom left */
.Add {
  height: 75px;
  width: 75px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 5px solid var(--Silver-Blue);
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom right,
    var(--Gradient1),
    var(--Gradient2) 50%,
    var(--Gradient3)
  );
}

/* The button in the bottom right */
.Reset {
  height: 75px;
  width: 75px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 5px solid var(--Silver-Blue);
  border-radius: 50%;
  background: linear-gradient(
    to bottom right,
    var(--Gradient1),
    var(--Gradient2) 50%,
    var(--Gradient3)
  );
}

/* Typing boxes */
/* Top task in parent element */
.HeaderTask {
  position: relative;
  margin: 20px;
  border: none;
  background-color: var(--Blue-1);
  border-radius: 5px;
  height: 10%;
  text-align: center;
}
/* Bottom text box */
.DescriptTask {
  position: relative;
  border: none;
  background-color: var(--Blue-2);
  border-radius: 5px;
  height: 70%;
  text-align: center;
}
